Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vs/S05_Testing_Grounds/v15/
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
